.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
  }

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 64s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}


.marquee:hover .track {
    animation-play-state: paused;
}