.marquee {
    background: var(--primary-background-color);
    position: relative;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
    height: 5rem;
    color: var(--primary-text-color);
  }

.marquee__track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 64s linear infinite;
}

.marquee__content {
    display: inline-block;
    padding-right: 100%;
    transform: translate(0, -2rem);
}

@keyframes marquee {
    from {
        transform: translateX(-10%);
    }

    to {
        transform: translateX(-50%);
    }
}


/* .marquee:hover .track {
    animation-play-state: paused;
} */

@media screen and (max-width: 600px) {
    .marquee__track{
        animation: marquee 64s linear infinite;
    }
    
}