:root {
  --primary-text-color: white;
  --primary-background-color: #020202;
  --primary-spot-color: rgb(219, 158, 236);
    --pink-color: #f268e5;
    --pink-color-shadow: #f268e462;
    --brown-color: #372b1d;
}

@font-face {
  font-family: "QuattrocodeVF-Regular";
  src: url("./QuattrocodeVF-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "GT-Flexa-X-Compressed-Regular";
  src: url("./GT-Flexa-X-Compressed-Regular.otf") format("opentype");
}

/* Typography */
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0%;
  padding: 0%;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title-font{
  font-family: "QuattrocodeVF-Regular";
  padding: 2% 0 1% 0;
  text-transform: uppercase;
}

h2 {
  font-size: 6rem;
}

h3{
    font-size: 4rem;
}

.title-font {
  font-size: 4rem;
}

p {
  padding: 2% 0 1% 0;
}

/* Layout */
.rounded-corners {
  border-radius: 25px;
  padding: 25px;
}

/* Banner */
.banner,
.clock-container {
  width: 100vw;
  height: 100vh;
  margin: 0%;
  padding: 0%;
}

.banner {
  background: url("../images/1200X300-MUTATION.jpg");
  background-size: cover;
  opacity: .6;;
}

.text-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.text-content {
  max-width: 600px;
}


/* Clock */
.clock-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  font-size: 7.5em;
  display: flex;
  mix-blend-mode: difference;
  font-family: "QuattrocodeVF-Regular";
  transform: translateY(140%);
  background: var(--primary-spot-color);
  width: 30vw;
  justify-content: center;
  border-radius: 7.5em;
  color: var(--primary-background-color);
}

/* Buttons */
.button-MoreInfo {
  display: flex;
  position: absolute;
  left: 45%;
  background: none;
  top: 82.5%;
  border: none;
  padding: 0.5%;
}

.button-signup {
  display: flex;
  margin: 10px 0;
  padding: 10px 25px;
  background-color: #020202;
  border-radius: 50px;
  border: none;
  box-shadow: 0 8px 16px 0 black;
  transition: 0.3s;
  margin: 50px;
  text-align: center;
}

.button-signup:hover{
    box-shadow: 0 4px 8px 0 black;
}

.link-signup {
  background: none;
  color: white;
  text-decoration: none;
  margin: auto
}

/* Content */
.marquee {
  color: #ffffff;
  height: 10vh;
  font-size: 35pt;
  text-align: center;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  mix-blend-mode: exclusion;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.section {
  padding: 50px 0;
}

.section-black {
  color: white;
}

.section-pink {
  color: var(--brown-color);
  background-color: var(--pink-color);
}

.section-brown {
  color: white;
  background-color: var(--brown-color);
}


.text-center {
  text-align: center;
  font-size: 4rem;
}

.text-intro {
  font-size: 1.5rem;
}

.black-background {
  color: white;
  background-color: #020202;
}

.text-small,
ul {
  font-size: 1rem;
}

.text-bold {
  font-weight: 700;
  font-size: 1.8rem;
}

.main-content-container {
  display: flex;
  width: 50vw;
  margin: 0%;
  /* justify-content: space-around; */
    overflow: scroll;
    margin-top: 50px;
}

.column {
  display: inline-block;
  font-size: 2.5rem;
  min-width: 500px;
  margin: 1% 1% 1% 0%;
  box-sizing: border-box;
    
}

.ready,
.space {
  padding-bottom: 2%;
}

.pinkstyle {
  background-color: var(--pink-color);
  text-align: center;
  margin-top: 25px;
  box-shadow: 0 8px 16px 0 var(--pink-color-shadow);
}

.pinkstyle:hover {
  box-shadow: 0 4px 8px 0 var(--pink-color-shadow);
}

/* List items */
ul {
  padding: 10px 0;
}

.list-item {
  padding: 0.5%;
}

/* Footer */
.footer {
  text-align: center;
  font-size: 0.5rem;
  margin: 0%;
}

@media screen and (max-width: 768px) {
  .main-content-container {
    padding: 0;
    width: 100vw;
  }

  .main-content-container .column {
    width: 50%;
    margin: 0;
  }
    .clock {
        font-size: 5em;
        width: 90vw;
    }

    .banner{
        background-position: center;
    }
}
