:root {
  --primary-text-color: white;
  --primary-background-color: #1a0f04;
  --primary-spot-color: rgb(219, 158, 236);
  --pink-color: #f268e5;
  --pink-color-shadow: #f268e462;
  --brown-color: #372b1d;
}

@font-face {
  font-family: "QuattrocodeVF-Regular";
  src: url("./QuattrocodeVF-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "GT-Flexa-X-Compressed-Regular";
  src: url("./GT-Flexa-X-Compressed-Regular.otf") format("opentype");
}

@font-face {
  font-family: "GT-Flexa-Standard-Regular";
  src: url("./GT-Flexa-Standard-Regular.otf") format("opentype");
}

@font-face {
  font-family: "GT-Flexa-Standard-Medium";
  src: url("./GT-Flexa-Standard-Medium.otf") format("opentype");
}

html, body {
  max-width: 100vw;
}
html {
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: 'GT-Flexa-Standard-Regular', roboto, sans-serif;
}

/* Typography */
h1,
h2,
.title-font {
  font-family: "QuattrocodeVF-Regular";
  padding: 2% 0 1%;
  text-transform: uppercase;
  font-style: oblique -40deg;
}

h3,
h4,
h5,
h6 {
  font-family: "GT-Flexa-X-Compressed-Regular", roboto, sans-serif;
  padding: 2% 0 1%;
}

h2 {
  font-size: 6rem;
}

h3,
.title-font {
  font-size: 4rem;
}

p {
  padding: 2% 0 1%;
}

/* Hero Section */
.hero-wrapper {
  height: 110vh;
  width: 100vw;
}

.hero-background {
  position: absolute;
  top: 5vh;
  left: 0;
  width: 100%;
  height: 90%;
}

.hero-background-video {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  width: 100vw;
  height: 80vh;
  margin-top: 10vh;
  z-index: -1;
}

.hero-background-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content,
.hero-marquee {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-content {
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  box-sizing: border-box;
  margin: auto 5%;
}

.hero-background .marquee {
  overflow: hidden;
  font-size: 150vh;
  height: 140vh;
  top: -35vh;
  mix-blend-mode: color-dodge;
  background: transparent;
}

/* Buttons */
.button,
.button-style {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 100px 10px;
  background-color: var(--pink-color);
  color: var(--brown-color);
  font-size: 3rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s ease;
  height: 75px;
  border-radius: 100px;
  border: 2px solid var(--brown-color);
  box-sizing: border-box;
  font-family: "GT-Flexa-X-Compressed-Regular", roboto, sans-serif;
  
  white-space: nowrap;
}

.button:hover {
  background-color: var(--brown-color);
  color: var(--pink-color);
}

header {
  position: fixed;
  width: 100vw;
  top: 7.5vh;
  right: 5vw;
  z-index: 10;
}

/* Layout */
.language-buttons {
  display: flex;
  align-items: end;
  justify-content: end;

}

.lower-buttons {
  position: absolute;
  bottom: 10vh;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('../assets/bacteria.png') no-repeat right bottom;
}

.introduction-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 10px;
}

.introduction-buttons .button-style {
  background-color: transparent;
  color: var(--pink-color);
  border: 2px solid var(--pink-color);
  margin: 5px;
  z-index: 10;
  /* cursor: pointer; */
}

/* .introduction-buttons .button-style:hover {
  background-color: var(--pink-color);
  color: var(--brown-color);
} */

.introduction-text {
  min-width: 300px;
  margin-top: 3rem;
  background-color: var(--pink-color);
  width: 50%;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 50px;
  text-align: center;
}

.text-medium {
  font-size: 2rem;
}

.join-text {
  background: url('../assets/background.svg');
  padding: 50px;
}

.join .card {
  min-height: 600px;
  border-radius: 0px;
  margin: 0;
}

.join .marquee,
.locations .marquee,
.program .marquee {
  display: flex;
  font-size: 400px;
  height: 400px;
}

.locations {
  /* background: var(--brown-color); */

}



@keyframes slide {
  0% {
    background-position: 100% 100%;
  }

  50% {
    background-position: 95% 95%;
  }

  100% {
    background-position: 100% 100%;
  }
}

/* Utility */
.hidden {
  display: none;
}

button {
  cursor: pointer;
}

/* Duotone */
.duotone::before,
.duotone::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

@supports (mix-blend-mode: darken) {
  .duotone::after {
    background-color: var(--pink-color);
    mix-blend-mode: darken;
  }
}

@supports (mix-blend-mode: lighten) {
  .duotone::before {
    background-color: var(--brown-color);
    mix-blend-mode: lighten;
  }
}

/* Width Classes */
.width-small,
.width-medium,
.width-large {
  min-width: 300px;
  margin: auto;
}

.width-small {
  width: 25%;
}

.width-medium-3 {
  width: 33%;
}

.width-medium {
  width: 50%;
}

.width-large {
  width: 75%;
}

.card {
  background-color: var(--primary-text-color);
  color: var(--primary-background-color);
  border-radius: 50px;
  padding: 50px;
  box-sizing: border-box;
  flex-grow: 1;
}


.flex {
  display: flex;
  gap: 50px;
  align-items: stretch;
  justify-content: stretch;
}

.locations-text {
  padding: 50px;
  box-sizing: border-box;
  flex-flow: row wrap;
  background: url('../assets/jellyfish.png') 100% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  animation: slide 10s infinite;
}

.locations .card {
  background: var(--pink-color);
  color: var(--primary-text-color);
  width: 30vw;
}

.locations .card:hover {
  background: var(--pink-color-shadow);
}


footer{
  background-color: var(--pink-color);
  color: var(--brown-color);
  padding: 10px 50px ;

}

.footer-logos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 25px;
}

.footer-logos img{
  height: 50px;
}

.join{ 
  background-color: white;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .join-text {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .flex{
    padding: 25px;
  }

  .card{
    min-width: 300px;
  }

  .button,
  .button-style {
    padding: 15px 50px 10px;
    font-size: 2rem;
    max-width: 100%;
  }

  .introduction-buttons {
    flex-direction: row;
    flex-wrap: nowrap;
    height: 150px;
    overflow-x: scroll;
    width: 100%;
  }

  .introduction-buttons span:first-child {
    padding-left: 200px;
    background-color: red;
  }

  .introduction-text {
    width: 100%;
    border-radius: 0;
  }

  .join-text,
  .locations-text {
    flex-wrap: wrap;
  }



  .join .marquee,
  .locations .marquee,
  .program .marquee {
    display: flex;
    font-size: 200px;
    height: 200px;
  }
  footer {
    padding: 10px 10px;
    flex-wrap: wrap;
    width: 100vw;
    box-sizing: border-box;
  }

  .footer-logos{
    align-items: center;
    justify-content: center;
  }


}

.locations .shoppingcenter,
.locations  .wintercircus,
.locations  .eyc,
.locations  .krook {

}


.locations .shoppingcenter:hover {
  background: url('../assets/shoppingcenter.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.locations .wintercircus:hover {
  background: url('../assets/wintercircus.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.locations .eyc:hover {
  background: url('../assets/eyc.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.locations .krook:hover {
  background: url('../assets/krook.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-blend-mode: darken;
}


