:root {
  --color-detail: purple;
  --color-background: black;
}

body {
  /* background: rgb(230, 156, 255); */
  overflow: hidden;
}

.drawing-screen{
  position: absolute;
  /* background: white; */

  width: 100%;
  height: 100%;
  cursor: pointer;
  filter: blur(5px);
  /* mix-blend-mode: hue; */
  /* background: rgb(0, 85, 17); */
  background-color: var(--color-background);
  overflow: hidden;
  image-rendering: pixelated;
}

.noise {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  filter: saturate(200%) brightness(2%) contrast(300%) grayscale(100%);
  /* image-rendering: pixelated; */
}

.noise-1 {
  background: url("./noise.svg");
}

.noise-2 {
  background: url("./noise-2.svg");
  mix-blend-mode: plus-lighter;
}

.noise-2{
    /* filter: blur(10px); */
    /* image-rendering: crisp-edges; */
    /* height: 600vh;
    width: 10vw; */
}

.visual-container {
  /* background-color: purple; */
  left: -25%;
  top: -25%;
  width: 150%;
  height: 150%;
  position: absolute;
  /* top: 0; 
    left: 0;
    width: 100%;
    height: 100%; */
  filter: brightness(90%) contrast(100%) saturate(400%);
}

.text {
  mix-blend-mode: color-dodge;
  color: white;
  font-size: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  /* filter: blur(3px) brightness(100%);
    image-rendering: pixelated; */
}

/* .mix{
    mix-blend-mode: color-burn;
} */

/* .content{
    filter:hue-rotate(180deg) invert(100%)
} */
