:root {
  --primary-text-color: white;
  --primary-background-color: #020202;
  --primary-spot-color: rgb(219, 158, 236);
  --pink-color: #f268e5;
  --pink-color-shadow: #f268e462;
  --brown-color: #372b1d;
}

@font-face {
  font-family: "QuattrocodeVF-Regular";
  src: url("../assets/fonts/QuattrocodeVF-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "GT-Flexa-X-Compressed-Regular";
  src: url("../assets/fonts/GT-Flexa-X-Compressed-Regular.otf") format("opentype");
}

/* Typography */
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0%;
  padding: 0%;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title-font {
  font-family: "QuattrocodeVF-Regular";
  padding: 2% 0 1% 0;
  text-transform: uppercase;
}

a{
  text-decoration: none;
  color: var(--primary-text-color);

}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 4rem;
}

.title-font {
  font-size: 4rem;
}

p {
  padding: 2% 0 1% 0;
}

/* Layout */
.rounded-corners {
  border-radius: 50px;
  padding: .5rem 2rem;
  border: 2px solid var(--primary-text-color);
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../assets/images/A2.png");
  background-size: cover;
  position: relative;
  text-transform: uppercase;
  font-size: 2rem;

}


.hero-title{
  font-size: 30rem;
  color: var(--pink-color);
  line-height: 23rem;
  mix-blend-mode: difference;
  transform: skew(-10deg);
  font-weight: normal;
}

.hero-title .part-one{

}

.hero-title .part-two{
  letter-spacing: 1.1rem;
}
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.black-background {
  background-color: black;
  mix-blend-mode: overlay  ;
}

@media screen and (max-width: 800px) {
  .hero-title{
    font-size: 20rem;
    line-height: 15rem;
  }
  .hero-section {
    font-size: .75rem;
    font-weight: bold;

  }
}

@media screen and (max-width: 600px) {
  .hero-section {
    font-size: .5rem;
    font-weight: bold;

  }
}