:root {
  --color-detail: purple;
  --color-background: black;
}

body {
  overflow: color;
}

.drawing-screen{
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: var(--color-background);
  overflow: hidden;
}


.visual-container {
  left: -0%;
  top: -0%;
  width: 100%;
  height: 100%;
  /* width: 150%;
  height: 150%; */
  position: absolute;
  /* top: 0; 
    left: 0;
    width: 100%;
    height: 100%; */
  filter: brightness(70%) contrast(100%) saturate(400%);
}


.text {
  mix-blend-mode: color-dodge;
  color: white;
  font-size: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  /* filter: blur(3px) brightness(100%);
    image-rendering: pixelated; */
}

/* .mix{
    mix-blend-mode: color-burn;
} */

/* .content{
    filter:hue-rotate(180deg) invert(100%)
} */
